#prompter-overlay::-webkit-scrollbar { display: none; }
#prompter-overlay { -ms-overflow-style: none; scrollbar-width: none; }

.is-recording {
    animation: pulse 1.5s infinite linear;
    background-color: #ef4444 !important;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

/* Evita che il video copra troppo il testo */
video {
    filter: brightness(0.4) contrast(1.2);
}